/* WORK */
.selected {
    border: 2px solid #1E90FF !important;
    padding: 0px !important;
}
.cutted {
    border: 2px solid red !important;
    padding: 0px !important;
}

/* NEW */
.programHeader {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    float: left;
    clear:left;
    padding: 5px;
}

.headerItem {
    font-weight: bold;
    float: left;
    clear:left;
    padding: 5px;
}
.projectItem {
    float:left;
    clear: left;
    padding: 5px;
}

#newInput, #newButton{
    float: left;
    clear: left;
    margin: 5px;
}

/* EDIT */
body {
    margin: 0px;
    font-family: Roboto;
}

.menuHeader {
    float:left;
    width: 100%;
    height: 20px;
    padding-left: 2px;
    
    box-sizing: border-box;
    font-weight: bold;
    color: rgb(240, 240, 240);
    
    border-bottom: 1px solid black;
    background-color: rgb(0, 0, 0);
}

.menuButton {
    float:left;
    width: 100%;
    height: 20px;
    padding-left: 2px;
    
    box-sizing: border-box;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    cursor: pointer;
    
    background-color: rgb(240, 240, 240);
}

.menuButton:hover {
    background-color: rgb(240, 200, 240);
}

#clickClickMenu{
    position: absolute;
    left: 40px;
    top: 40px;
    width: 100px;
    height: auto;
    z-index: 10;
    display: none;
}

#editPromt {
    position: absolute;
    left: 40px;
    top: 40px;
    width: 100px;
    z-index: 15;
    background-color: rgb(240, 240, 240);
    display: none;
    box-sizing: border-box;
    border: 1px solid;
    padding: 20px;
}

#editPromt textarea {
    float: left;
    width: 350px;
    height: 100px;
}

.crumbLink {
    line-height: 34px;
    text-decoration: none;
    color: #000bbe;
}

.clearLeft {
    clear: left;
}

.float {
    float: left;
}

.tile_label {
    margin: 0px;
    font-size: 15px;
    float: left;
    width: 100%;
    padding: 3px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.outer_label_sizing {
    height: 34px;
    width: calc(100% - 208px);
}

.inner_label_sizing {
    height: 14px;
    width: calc(100% - 6px);
}

#super_tile_indicator {
    float: left;
    width: 30px;
    height: 30px;
    margin: 5px;
    
    box-sizing: border-box;
    
    border: 1px solid;
}

#super_tile {
    float: left;
    width: calc(100% - 1px);
}

#project_buttons {
    height: 38px;
    width: 160px;
    float: left;
    padding: 1px;
    /*background-color: yellow;*/
}

.p_button {
    box-sizing: border-box;
    border: 0px solid;
    padding: 1px;
    
    height: 38px;
    width: 38px;
    
    margin-left: 2px;
    /*background-color: grey;*/
    float: right;
    
    cursor: pointer;
}

.p_button:hover {
    border: 1px solid;
    padding: 0px;
    /*background-color: white;*/
}

.p_button img {
    padding: 3px;
}

.tile {
    float: left;
    overflow: hidden;
    padding: 1px;
    
    box-sizing: border-box;
    border: 1px solid;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.small_square{
    width: 20px;
    height: 20px;
}

#active_filter_count {
    position: fixed;
    top: 2px;
    margin-top: 1px;
    margin-left: 23px;
    width: 12px;
    height: 12px;
    z-index: 2;
    background-color: red;
    text-align: center;
    line-height: 13px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    
    display: none;
}

#promt_modal {
    top: 60px;
    left: 10%;
    position: absolute;
    background-color: white;
    width: 80%;
    border: 1px solid;
    box-sizing: border-box;
    
    display:none;
}
#promt_close {
    float: left;
    padding: 6px;
    padding-top: 5px;
    padding-bottom: 7px;
    height: 18px;
    margin-top: 5px;
    margin-right: 5px;
    border-bottom: 1px solid;
}

#promt_header {
    float: left;
    width: calc(100% - 45px);
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid;
    padding-left: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

#promt_content {
    float: left;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#promt_footer {
    float: left;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-top: 1px solid;
}

.promt_submit {
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid;
    cursor: pointer;
}
/* PROMT CONTENT */
.filter_button {
    float: left;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    border: 1px solid;
    cursor: pointer;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.filter_active {
    background-color: grey;
}



#filter_reset_button {
    float: right;
}

#filter_apply_button {
    float: right;
}

/* STATUS COLORS */

.new  {
    background-color: rgb(200, 200, 200);
}

.default {
    background-color: rgb(240, 240, 240);
}

.started {
    background-color: rgb(255,255,224);
}

.done {
    background-color: rgb(144,238,144);
}

.issues {
    background-color: rgb(240,128,128);
}

.left {
    float: left;
}
.right {
    float: right;
}

/* LEGEND */
.close_cross {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    overflow: hidden;
    cursor: pointer;
}

.close_cross::before, .close_cross::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}
.close_cross::before {
    transform: rotate(45deg);
}
.close_cross::after {
    transform: rotate(-45deg);
}


#moreHeader {
    height: 20px;
    float: left;
    width: 100%;
    /*background-color: green;*/
}

#morePanel {
    position: absolute;
    left: 40px;
    top: 40px;
    min-width: 100px;
    z-index: 15;
    background-color: rgb(240, 240, 240);
    display: none;
    box-sizing: border-box;
    border: 1px solid;
}

#legend_desc {
    box-sizing: border-box;
    border: 1px solid;
    float: left;
    padding: 5px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    clear: left;
}

#current_users_desc {
    box-sizing: border-box;
    border: 1px solid;
    float: left;
    padding: 5px;
    padding-bottom: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.color_square {
    box-sizing: border-box;
    border: 1px solid;
    clear: left;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}
.legend_label {
    height: 20px;
    float: left;
}

/* USER LEGEND */
#USER_1 {
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 5px,
        rgb(240, 240, 240) 5px,
        rgb(240, 240, 240) 10px
    );    
}

/* info box */
#infoBox {
    position: absolute;
    display: none;
    left: 10px;
    top: 10px;
    width: 98px;
    height: 98px;
    
    border: 1px solid;
    
    background-color: white;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.grabbed {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

#infoBoxHeader {
    float: left;
    width: 100%;
    height: 10px;
    border-bottom: 1px solid;
    background-color: white;
    
    cursor: -webkit-grab;
    cursor: grab;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.closeButton {
    width: 10px;
    float: left;
    margin-left: calc(100% - 15px);
    border: 1px solid;
}
